p{
	margin-bottom: 0px;
}

.container-space{
	margin-top: 30px;
	margin-bottom: 30px;
}

.bootstrap-table tr{
	cursor: pointer;
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.files input:focus{
	outline: 2px dashed #92b0b3;
	outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{
	position:relative;
}
.files:after {  pointer-events: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url("/images/drag.png");
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{
	background-color:#f1f1f1;
}
.files:before {
    position: absolute;
    bottom: 0px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.flash-message{
    position: fixed;
    z-index: 10;
    right: 30px;
    bottom: 10px;
}

.daterange input{
	background-color: #fff !important;
}

h4{
	color: #750F6D;
	text-align: center;
	margin-top: 32px;
	padding-bottom: 8px;
	border-bottom: 5px solid #750F6D;
}

#event, #col{
	display: none;
}

label{
    font-weight: bold;
}

.upload-cover{
    width: 320px;
    height: 320px;
    margin: 15px auto;
}

.upload-icon{
	width: 100px;
	height: 100px;
	margin: 15px auto;
}

.background-image-contain{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.note-editable p{
  min-height: 24px;
}

.note-editor output{
    display: none !important;
}

.note-editor .note-statusbar output{
    display: block !important;
}
