/**
  Master Layout
**/
@font-face {
    font-family: "Microsoft Jhenghei";
    src: url("../fonts/microsoft_jhenghei.ttf");
}
@font-face {
    font-family: "Microsoft Jhenghei";
    src: url("../fonts/microsoft_jhenghei_bold.ttf");
    font-weight: bold;
}

body{
  font-family: "Microsoft Jhenghei";
  background-color: #E3E3E3;
  color: #555;
}

@media (min-width: 960px){
    .container {
        max-width: 960px;
    }
}

.container {
    padding-right: 35px;
    padding-left: 35px;
}

.row {
    margin-right: -35px;
    margin-left: -35px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 35px;
    padding-left: 35px;
}

a {
    text-decoration: none !important;
    color: #555;
}

ul {
    margin-bottom: 0;
}

p{
	margin-bottom: 0px;
}

.background-image-contain{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.background-image-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.bg-white{
	background-color: #fff;
}

header {
    height: 188.44px;
    background-image: url('../images/web/masthead-background@2x.png');
}

header #logo{
    display: block;
    height: 119.8px;
    width: 398.02px;
    background-image: url('../images/web/logo-alumni-matters@2x.png');
}

section{
  background-color: #fff;
}

.hide{
  display: none;
}

/**
  Index Layout
**/

#pagination{
  padding-top: 7px;
  padding-bottom: 10px;
}

#pagination #issue{
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  z-index: 3;
}

#pagination #issue .current-issue{
  cursor: pointer;
}

#pagination #issue .issue-list{
  position: absolute;
  background-color: #fff;
  left: -35px;
  margin-top: 10px;
  width: 265px;
}

#pagination #issue .issue-list .seperator{
  height: 1px;
  background-color: #EDEDED;
}

#pagination #issue .issue-list .issue-row{
  height: 48px;
  border-right: 13px solid #fff;
  padding: 10px 0px 10px 35px;
  color: #555;
}


#pagination #issue .issue-list .issue-row:hover{
  background-color: #F4DFB0;
  border-right: 13px solid #DDA300;
}

#pagination #issue .issue-number{
    width: 85px;
}

#pagination .issue-date{
  border-left: 1px solid #750F6D;
  padding-left: 20.79px;
}

#pagination .issue-date i{
  margin-left: 60px;
}

#pagination ul li {
    display: inline;
    margin-left: 22px;
}

#pagination ul li.seperator {
    display: inline-block;
    width: 1px;
    height: 25px;
    background-color: #750F6D;
}

#cover-news{
  background-color: #fff;
}

#cover-news .cover-image{
  height: 524px;
}

#cover-news .seperator{
  height: 8px;
  background: transparent linear-gradient(90deg, #DDA300 0%, #750F6D 100%) 0% 0% no-repeat padding-box;
}

#cover-news .cover-content{
  padding-top: 22px;
  padding-bottom: 55.1px;
}

h2{
  font-size: 28px;
  color: #750F6D;
  font-weight: bold;
  margin-bottom: 0px;
}

.go-to-btn{
  width: 12px;
  height: 20px;
  margin-left: 11px;
  background-image: url('../images/web/arrow.png');
}

.details{
  width: 95.362%;
  margin-top: 14px;
  font-size: 16px;
}

#categories .category-bar .icon{
  height: 100px;
  width: 100px;
  margin: 0px 28px;
}

#categories .category-bar .seperator{
  height: 3px;
  background-color: #750F6D;
}

#categories .category-name{
  color: #750F6D;
  font-size: 24px;
  margin-top: 6px;
  margin-bottom: 23.3px;
  font-weight: bold;
}

.column .col-md-12 .background-image-cover{
  border-bottom: 5px solid #750F6D;
}

.column .col-md-12 .background-image-cover{
  height: 540px;
}

.column .col-md-6 .background-image-cover{
  border-bottom: 2px solid #750F6D;
}

.column .col-md-6 .background-image-cover{
  height: 293px;
}

.column .col-md-4 .background-image-cover{
  height: 192px;
}

.column .col-md-3 .background-image-cover{
  height: 140px;
}

.column .title{
  width: 90.586%;
  margin-top: 13px;
  font-weight: bold;
}

.column .col-md-12 .title{
  min-height: 134px;
  font-size: 20px;
  margin-bottom: 40px;
}

.column .col-md-6 .title{
  min-height: 33px;
  font-size: 18px;
  margin-bottom: 34px;
}

.column .col-md-4 .title{
  min-height: 84px;
  font-size: 18px;
  margin-bottom: 0px;
}

.column .col-md-3 .title{
  min-height: 40px;
  font-size: 12px;
  margin-bottom: 3px;
}

.column > a.col-md-6:nth-child(2n+1){
  padding-right: 7px;
}

.column > a.col-md-6:nth-child(2n){
  padding-left: 7px;
}

.column > a.col-md-4:nth-child(3n+1){
  padding-right: 7px;
}

.column > a.col-md-4:nth-child(3n+2){
  padding-left: 7px;
  padding-right: 7px;
}

.column > a.col-md-4:nth-child(3n){
  padding-left: 7px;
}

.column > a.col-md-3:nth-child(4n+1){
  padding-right: 7px;
}

.column > a.col-md-3:nth-child(4n+2), .column > a.col-md-3:nth-child(4n+3){
  padding-left: 7px;
  padding-right: 7px;
}

.column > a.col-md-3:nth-child(4n){
  padding-left: 7px;
}

.more{
  margin-top: 8px;
  font-weight: bold;
  font-size: 18px;
}

.alumni .cover{
  height: 484px;
}

.alumni .content{
  padding-top: 22px;
  padding-bottom: 55.1px;
}

.list {
  list-style: none;
  padding: 0px;
  padding-bottom: 45px;
  margin-top: 13px;
}

.list li{
  font-weight: bold;
  font-size: 18px;
}

.list li .bullet{
  flex: 0 0 8px;
  height: 8px;
  width: 8px;
  background-color: #DDA300;
  margin-right: 21px;
  margin-top: 12px;
}

.list li a{
  min-width: 40%;
  display: block;
  min-height: 40px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.events{
  margin-right: 35px;
  margin-left: 35px;
}

.events a{
  margin-bottom: 40px;
}

.events a:nth-child(2n+1){
  padding-right: 80px;
}

.events a:nth-child(2n){
  padding-left: 7px;
  padding-right: 80px;
}

.events .calender{
  background-image: url('../images/web/calendar@2x.png');
  height: 80px;
  width: 80px;
  flex: 0 0 80px;
  margin-right: 19px;
}

.events .calender .month{
  color: #fff;
  font-size: 18px;
  font-family: "Arial";
  line-height: 30px;
  font-weight: bold;
}

.events .calender .day{
  color: #750F6D;
  font-size: 32px;
  font-family: "Arial";
  line-height: 45px;
  font-weight: bold;
}

.events .title{
  font-weight: bold;
  font-size: 16px;
}

#banner a{
  width: 100%;
  height: 184px;
}

.ads_pc{
  display: block;
}

.ads_mobile{
  display: none;
}

#menu-1{
  padding-top: 59px;
}

#menu-1 a{
  width: 120px;
  height: 120px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  line-height: 205px;
}

#menu-1 a:nth-child(2){
  margin-left: 145px;
  margin-right: 145px;
}

#menu-2{
  padding-top: 46px;
  padding-bottom: 47px;
}

#menu-2 > div{
	justify-content: space-evenly;
}

#menu-2 a{
  display: block;
  font-size: 15px;
  width: 128px;
}

#menu-2 .icon{
  height: 40px;
  width: 40px;
  margin-bottom: 12px;
}

#bolder {
    height: 3px;
    background-color: #750F6D;
}

footer{
    background-color: #fff;
    padding: 26px 0px 34px 0px;
    text-align: center;
}

footer .social a:not(:flex-center) {
    display: block;
}

footer .social a {
  margin-left: 15.5px;
  margin-right: 15.5px;
}

footer .social a img{
  width: 50px;
}

footer .info {
    margin-top: 29.1px;
    font-size: 14px;
    color: #750F6D;
}

.container-space{
    padding-top: 50px;
    padding-bottom: 50px;
}

#event{
	display: none;
}

form, #success{
  background-color: #fff;
}

.passage-cover{
  height: 524px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.passage-content{
  padding-top: 27px;
  padding-bottom: 30px;
}

.passage-content h2{
  margin-bottom: 23px;
}

.passage-content .back-btn{
  margin-top: 100px;
  display: block;
  font-size: 18px;
  color: #750F6D;
}

.back-btn-icon{
  width: 12px;
  height: 20px;
  margin-right: 11px;
  background-image: url('../images/web/arrow_left.png');
}

#search{
  border-top: 1px solid #EDEDED;
  padding-top: 26.5px;
}

#search input{
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
}

#search button{
  padding: 6px 17.19px 5.85px 15.85px;
  background-color: #750F6D;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
}

#search .input-group{
  width: 430px;
}

#search .input-group input{
  font-size: 18px;
}

.search-icon{
  width: 22.23px;
  height: 22.23px;
  background-image: url('/images/icon/icon-search-white@2x.png');
}

#serach-number{
  font-size: 16px;
  margin-top: 14px;
  display: none;
}

#search-result{
  overflow: auto;
  min-height: 420px;
}

#search-result .passage-info{
  font-weight: bold;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 15px;
}

#search-result .passage-info div{
  display: inline-block;
}

#search-result .passage-info .seperator{
  background-color: #750F6D;
  width: 2px;
  height: 18px;
  margin: 0px 17.21px;
}

#search-result .passage-title{
  font-size: 24px;
  color: #750F6D;
  font-weight: bold;
}

#search-result .content{
  margin-top: 13px;
  font-size: 18px;
}

#search-result .seperator{
  height: 1px;
  background: #818181;
  margin-top: 27.5px;
}

#search-result .highlight{
  background-color: #F4DFB0;
}

#search-result .no-result{
  margin-left: auto;
  margin-right: auto;
  margin-top: 97px;
  width: 250px;
  height: 250px;
  background-image: url('../images/web/m-icon-search-big@2x.png');
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.files input:focus{
	outline: 2px dashed #92b0b3;
	outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{
	position:relative;
}
.files:after {  pointer-events: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url("/images/drag.png");
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{
	background-color:#f1f1f1;
}
.files:before {
    position: absolute;
    bottom: 0px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 90px;
    content: "";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.upload-cover{
    width: 320px;
    height: 320px;
    margin: 15px auto;
}

.passage-html a{
  color: #007bff !important;
}

.passage-html img{
  max-width: 100%;
}

.passage-html, .MsoNormal{
  word-wrap: break-word;
  font-family: "Microsoft Jhenghei" !important;
  font-size: 18px;
}

.passage-html p{
  min-height: 24px;
}

.note-editable p{
  min-height: 24px;
}

.note-editor output{
    display: none !important;
}

.note-editor .note-statusbar output{
    display: block !important;
}

.preview-bar{
  background-color: #007bff;
  height: 40px;
}

.preview-bar div{
  line-height: 40px;
  color: #fff;
}

.preview-bar span{
  font-size: 16px !important;
}
