@media (min-width: 576px) and (max-width: 959px){
  .container {
    max-width: 100%;
  }
}

@media (min-width: 777px) and (max-width: 992px){
  #menu-2 a{
    margin-bottom: 14px;
  }

}

@media (min-width: 768px) and (max-width: 992px){
  .column .col-12 .background-image-cover{
    height: 30.379vw;
  }
}

@media (max-width: 776px){
  .container {
      padding-right: 10px;
      padding-left: 10px;
  }

  .row {
      margin-right: -10px;
      margin-left: -10px;
  }

  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
      padding-right: 10px;
      padding-left: 10px;
  }

  header {
      height: 30.134vw;
  }

  header #logo{
      display: block;
      height: 18.6378vw;
      width: 61.9167vw;
  }

  #pagination{
    padding-top: 4.86px;
    padding-bottom: 4px;
  }

  #pagination #issue{
    height: 20px;
    line-height: 20px;
    font-size: 13px;
  }

  #pagination #issue .issue-list{
  position: absolute;
  background-color: #fff;
  left: -10px;
  margin-top: 4px;
  width: 100vw;
}

  #pagination #issue .issue-list .issue-row{
    height: 29px;
    border-right: 9px solid #fff;
    padding: 5px 0px 4px 10px;
  }


  #pagination #issue .issue-list .issue-row:hover{
    border-right: 9px solid #DDA300;
  }

  #pagination #issue .issue-number{
    padding-left: 10px;
    padding-right: 10px;
  }

  #pagination .issue-date{
      margin-left: 10px;
  }

  #pagination .issue-date i{
    margin-left: 24px;
  }

  #pagination ul{
    padding: 0px;
    font-size: 13px;
  }

  #pagination ul li {
      margin-left: 9px;
  }

  #pagination ul li.seperator {
      width: 1px;
      height: 15px;
  }

  #cover-news .cover-image{
    height: 50.387vw;
  }

  #cover-news .seperator{
    height: 2px;
  }

  #cover-news .cover-content{
    padding-top: 11px;
    padding-bottom: 18.9px;
  }

  h2{
    font-size: 19px;
    line-height: 30px;
  }

  .go-to-btn{
    width: 30px;
    height: 30px;
  }

  .details{
    width: 100%;
    margin-top: 8px;
    font-size: 13px;
  }

  #categories .category-bar .icon{
    height: 73px;
    width: 73px;
    margin: 0px 17px;
  }

  #categories .category-bar .seperator{
    height: 2px;
  }

  #categories .category-name{
    color: #750F6D;
    font-size: 17px;
    margin-top: 11px;
    margin-bottom: 17px;
  }

  .column .title{
    width: 100%;
    margin-top: 11px;
  }

  .column .col-12 .title{
    min-height: 21px;
    font-size: 15px;
    margin-bottom: 26px;
  }

  .more{
    margin-top: 0px;
    font-size: 13px;
    margin-bottom: 18.18px;
  }

  .more a div{
    width: 30px;
  }

  .alumni .cover{
    height: 50.387vw;
  }

  .alumni .content{
    padding-top: 11px;
    padding-bottom: 18.9px;
  }

  .list {
    padding-bottom: 17px;
    margin-top: 17px;
  }

  .list li{
    font-size: 15px;
  }

  .list li .bullet{
    flex: 0 0 4px;
    height: 4px;
    width: 4px;
    margin-right: 8px;
    margin-top: 9px;
  }

  .events a{
    margin-bottom: 17px;
  }

  .events a{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .events .calender{
    height: 70px;
    width: 70px;
    flex: 0 0 70px;
    margin-right: 15px;
  }

  .events .calender .month{
    font-size: 18px;
    line-height: 24px;
  }

  .events .calender .day{
    font-size: 30px;
    line-height: 43px;
  }

  .events .title{
    font-weight: bold;
    font-size: 15px;
  }

  #banner a{
    margin: 0 -10px;
    height: 74.47vw;
  }

  #menu-1{
    padding-top: 12.86px;
  }

  #menu-1 a{
    width: 90px;
    height: 90px;
    font-size: 12px;
    padding-top: 62px;
  }

  #menu-1 a:nth-child(2){
    margin-left: 20px;
    margin-right: 20px;
  }

  #menu-2{
    padding-top: 29px;
    padding-bottom: 4px;
  }

  #menu-2 a{
    width: 80px;
    font-size: 12px;
    margin-bottom: 14px;
  }

  #menu-2 .icon{
    height: 25px;
    width: 25px;
    margin-bottom: 6px;
  }

  #bolder {
      height: 2px;
  }

  footer{
      padding: 25px 0px 25px 0px;
  }

  footer .social a {
      margin-left: 8.5px;
      margin-right: 8.5px;
  }

  footer .social a img{
    width: 30px;
  }

  footer .info {
      margin-top: 27.1px;
      font-size: 12px;
  }

  .passage-cover{
    height: 63.379vw;
  }

  .passage-content{
    padding-top: 9.06px;
  }

  .passage-content h2{
    margin-bottom: 12px;
  }

  .passage-content .passage-html{
    font-size: 13px !important;
  }

  .passage-content .back-btn{
    margin-top: 40px;
    font-size: 13px;
  }

  .back-btn-icon{
    width: 30px;
    height: 30px;
  }

  #search{
    padding-top: 18.5px;
  }

  #search button{
    padding: 8px 17.37px 7px 16.58px;
  }

  #search .input-group{
    width: 355px;
  }

  .search-icon{
    width: 15px;
    height: 15px;
  }

  #serach-number{
    font-size: 13px;
    margin-top: 11px;
  }

  #search-result{
    min-height: 558.14px;
  }

  #search-result .passage-info{
    font-size: 13px;
    margin-top: 24px;
    margin-bottom: 12px;
  }

  #search-result .passage-info .seperator{
    height: 15px;
    margin: 0px 12.21px;
  }

  #search-result .passage-title{
    font-size: 17px;
  }

  #search-result .content{
    margin-top: 12px;
    font-size: 13px;
  }

  #search-result .seperator{
    margin-top: 21.5px;
  }

  #search-result .no-result{
    margin-top: 35px;
    width: 140px;
    height: 140px;
  }

  .files:before{
    height: 144px;
  }

  .ads_pc{
    display: none;
  }

  .ads_mobile{
    display: block;
  }

}

@media (max-width: 767px){
  .column .col-12 .background-image-cover{
    height: 63.379vw;
  }
}

@media (max-width: 340px){
  #menu-1 a{
    width: 50px;
    height: 50px;
    font-size: 8px;
    padding-top: 34px;
    line-height: 9px;
  }

  #menu-1 a:nth-child(2){
    margin-left: 12px;
    margin-right: 12px;
  }
}
